{
  "extends": ["waystone", "plugin:storybook/recommended"],
  "env": {
    "browser": true,
    "es2021": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
  },
}
